footer{
    background-image: linear-gradient(to right, #313131, #383838);
    color:white;
    position: absolute;
    bottom:0;
    width:100%;
}

body{
    position: relative;
    padding-bottom: 120px;
}

#formUsuario{
    padding-bottom: 10px;
}

#logint{
    color:white
}

#corpovazio{
    background: url('../img/fundo.jpg');
    /* background-image: linear-gradient(to right, #313131, #383838); */
}